In [46]:
import pandas as pd

In [47]:
schedule_df = pd.read_excel("simulated_schedule_file.xlsx")

In [48]:
schedule_df

,SSNIT NUMBER,GH. CARD NUMBER,CONTACT,S. NUMBER,MEMBER NAME,BASIC SALARY,5% CONTRIBUTION
0,E010206150044,GHA-728564213-8,558495315.0,NaN,Setiameh Martha Maku,563.5,28.175
1,O5A21404653,GHA-727295407-5,240393240.0,NaN,Siew Deboarh,563.5,28.175
2,2404111802,GHA-725522718-9,553889916.0,NaN,Stephen Dadzie,825.8,41.290
3,F118806070029,GHA-001446114-9,247563671.0,1010OPS000446,Susana Nyamekye,750.0,37.500
4,C037907010693,GHA-730423976-7,530770302.0,NaN,Tawiah Eric,1271.1,63.555
5,C017503050659,GHA-000202674-5,243164488.0,1010OPS000440,Emmanuel Okai,1463.5,73.175
6,J037902090033,GHA-727282372-2,242551487.0,1010OPS000380,Ernest Awo,1739.0,86.950
7,B179109040048,GHA7255840063,543474578.0,NaN,Donkoh Mavis,563.5,28.175
8,H199208230023,GHA7237992005,240185641.0,NaN,Ibrahuim Ayishetu Mantuso,563.5,28.175

In [49]:
def numeric_clean(numeric_field):
    cleaned = numeric_field.astype(str).str.strip()
    transformed = pd.to_numeric(cleaned)
    return transformed

def clean_id_field(id_field):
    return id_field.astype(str).str.replace("[^0-9a-zA-Z]", "", regex = True).str.replace(r"\s+", " ", regex=True).str.strip()

def clean_name_field(name_field):
    cleaned = name_field.astype(str).str.replace("[^a-zA-z]", " ", regex = True).str.replace(r"\s+", " ", regex=True).str.strip().str.lower()
    return cleaned.apply(lambda x: " ".join(sorted(x.split())))

def rename_schedule_columns(schedules_df):
    schedule_df.columns = ("SSNIT Number", "NIA Number", "Contact", "Scheme Number", "Member Name", "Basic Salary", "Tier2")
    return schedule_df

In [50]:
schedule_df = rename_schedule_columns(schedule_df)
schedule_df["SSNIT Number"] = clean_id_field(schedule_df["SSNIT Number"])
schedule_df["NIA Number"] = clean_id_field(schedule_df["NIA Number"])
schedule_df["Contact"] = numeric_clean(schedule_df["Contact"])
schedule_df["Scheme Number"] = clean_id_field(schedule_df["Scheme Number"])
schedule_df["clean_name"] = clean_name_field(schedule_df["Member Name"])
schedule_df["Basic Salary"] = numeric_clean(schedule_df["Basic Salary"])
schedule_df["Tier2"] = numeric_clean(schedule_df["Tier2"])

In [51]:
schedule_df

,SSNIT Number,NIA Number,Contact,Scheme Number,Member Name,Basic Salary,Tier2,clean_name
0,E010206150044,GHA7285642138,558495315.0,nan,Setiameh Martha Maku,563.5,28.175,maku martha setiameh
1,O5A21404653,GHA7272954075,240393240.0,nan,Siew Deboarh,563.5,28.175,deboarh siew
2,2404111802,GHA7255227189,553889916.0,nan,Stephen Dadzie,825.8,41.290,dadzie stephen
3,F118806070029,GHA0014461149,247563671.0,1010OPS000446,Susana Nyamekye,750.0,37.500,nyamekye susana
4,C037907010693,GHA7304239767,530770302.0,nan,Tawiah Eric,1271.1,63.555,eric tawiah
5,C017503050659,GHA0002026745,243164488.0,1010OPS000440,Emmanuel Okai,1463.5,73.175,emmanuel okai
6,J037902090033,GHA7272823722,242551487.0,1010OPS000380,Ernest Awo,1739.0,86.950,awo ernest
7,B179109040048,GHA7255840063,543474578.0,nan,Donkoh Mavis,563.5,28.175,donkoh mavis
8,H199208230023,GHA7237992005,240185641.0,nan,Ibrahuim Ayishetu Mantuso,563.5,28.175,ayishetu ibrahuim mantuso

In [52]:
system_df = pd.read_excel("Members.xlsx")

c:\Users\balep\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [55]:
scheme_df = system_df.loc[system_df["[Scheme name]"] == "PPT OCCUPATIONAL PENSION SCHEME"]
employer_df = scheme_df.loc[scheme_df["Group name"] == "DELTA PAPER MILL"]

In [56]:
employer_df

,Creation time,Start date,Region,Gender,First name,[Middle name],[Last name],Member number,[Scheme number],Mobile,...,Residential address,Digital address code,Postal address,Landmark,Email,Home town,Marital status,Country,Occupation,Status
1877,2021-01-09,2019-04-26,GREATER ACCRA REGION,MALE,DERRICK,DESMOND,LAMPTEY,1030380,1010OPS001657,0573279680,...,Tema,NaN,NaN,NaN,NaN,NaN,NaN,GHANA,ACCOUNTS OFFICER,Open
1878,2021-01-09,2019-04-26,GREATER ACCRA REGION,FEMALE,CASSANDRA,NaN,ATTOH,1030381,1010OPS001658,0200110309,...,Tema,NaN,NaN,NaN,NaN,NaN,NaN,GHANA,ACCOUNTS OFFICER,Open
1879,2021-01-09,2019-04-26,GREATER ACCRA REGION,MALE,SEDINAM,NaN,OFORI,1030382,1010OPS001659,0264419997,...,Tema,NaN,NaN,NaN,NaN,NaN,NaN,GHANA,ACCOUNTS OFFICER,Open
1880,2021-01-09,2019-04-26,GREATER ACCRA REGION,MALE,TITUS,EVANS,TEYE,1030383,1010OPS001660,0279435787,...,Tema,NaN,NaN,NaN,NaN,NaN,NaN,GHANA,ACCOUNTS OFFICER,Open
1881,2021-01-09,2019-04-26,GREATER ACCRA REGION,FEMALE,MERCY,NaN,TETTEH,1030384,1010OPS001661,0266081479,...,Tema,NaN,NaN,NaN,NaN,NaN,NaN,GHANA,ACCOUNTS OFFICER,Open
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70587,2025-06-20,2025-06-11,GREATER ACCRA REGION,MALE,MICHEAL,KWASI,BOABENG,868789628,1010OPS016973,0552145330,...,ASHAIMAN,NaN,NaN,NaN,0552145330@GMAIL.COM,VUME,NaN,GHANA,FACTORY WORKER,Open
70588,2025-06-20,2025-06-11,ASHANTI REGION,FEMALE,GRACE,NaN,AMOAKO,900463409,1010OPS016974,0542119208,...,TESHIE NUNGUA,GZ-048-2730,NaN,NaN,graceamoaki216@gmail.com,ATWIMA KOFORIDUA,NaN,GHANA,FACTORY WORKER,Open
70593,2025-06-23,2025-06-11,GREATER ACCRA REGION,FEMALE,MAVIS,NaN,DONKOH,3676330,1010OPS016978,0543474578,...,KATAMANSO,NaN,NaN,SCHOOL JUNCTION,05543474578@GMAIL.COM,AGONA SWEDRU,NaN,GHANA,FACTORY WORKER,Open
70594,2025-06-23,2025-06-11,GREATER ACCRA REGION,MALE,GODFRED,NaN,DATSIR,465022610,1010OPS016979,0202140759,...,KLAGON,NaN,NaN,HOSPITAL,0202140759@GMAIL.COM,NARKWA,NaN,GHANA,FACTORY WORKER,Open
70630,2025-06-25,2025-06-11,ASHANTI REGION,MALE,NATHANIEL,NaN,BAIDOO,998520041,1010OPS017009,0234748817,...,NaN,NaN,NaN,CHURCH APOSTOLIC CHURCH OF GHANA,NATHANIELBAIDOO@ICLOUD.COM,SWEDRU,NaN,GHANA,FACTORY WORKER,Open

In [1]:
"prince".upper()

'PRINCE'

In [2]:
for i in range(5):
    if i%2 == 0:
        print ("even")
    elif i%2 != 0:
        print ("Odd")

even
Odd
even
Odd
even